body {
    font-family: 'Segoe UI', sans-serif;
    margin: 150px;
    background-color: #f4f4f4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 255, 0.5)), url('img/lovepik-technological-background-image_402010515.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    margin-left: 240px;
    padding: 20px;
    }
header {
    background-color: rgba(0, 51, 102, 0.85);
    color: white;
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid #0099cc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    }
nav {
    background-color: #006699;
    padding: 15px;
    margin-top: 20px;
    }
nav ul {
    list-style: none;
    display: flexbox;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
    flex-wrap: wrap
    }
nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background 0.3s;
    }
nav li a:hover {
    background-color: #00557a;
    border-radius: 5px;
    }
h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    }
section, article, aside {
    background-color: white;
    margin: 30px auto;
    padding: 25px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    }
p {
    font-size: 17px;
    line-height: 1.8;
    text-align: justify;
    margin: 10px 0;
    }
footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    position: fixed; 
    bottom: 0;
    left: 0;
    margin-left: 240px;
    padding: 20px;
    width: 100%;
    }
.navlateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    z-index: 999;
    overflow-y: auto;
    }
.boton-hover {
    padding: 12px 24px;
    background-color: #06c2fc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    }
.boton-hover:hover {
    background-color: #010911;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
.hover-nombre:hover {
    background-color: #00f7ff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgb(163, 238, 248);
    }
.hover-sexo:hover {
    background-color: #00f7ff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgb(163, 238, 248);
    }
.hover-comentario:hover {
    background-color: #00f7ff;
    }
.hover-correo:hover {
    border-color: #00f7ff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgb(163, 238, 248);
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.mi-tabla {
    border-collapse: collapse; 
    width: 100%;
    border: 1px solid black;
    color: white;
    }
.mi-tabla th,.mi-tabla td {
    padding: 5px;
    border: 1px solid white;
    }
.color-formulario h1,label{
    color: white;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
#h1tabla{
    color: white;
    text-align: center;
}
